p::after {
    content: url(../IMG/icono.png);
    /* content: " - Sufijo";
    background-color: yellow;
    color: red;
    font-weight: bold; */
}
p::before {
    content: url(../IMG/check.png);
    /* content: "Prefijo -";
    background-color: yellow;
    color: red;
    font-weight: bold; */
}