h1 {
    color: coral;
}
h2 {
    text-align: right;
}
#titular2 {
    color:chocolate;
}
h3.titularTres{
    background-color:aliceblue;
}

.centrar {
    text-align: center;
}

.rojo {
    color: red;
}


* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}